<template>
  <q-page class="flex flex-center">
    Component here
    <QuasComponent />
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';
import QuasComponent from 'quasar-ui-quas-kit';

export default defineComponent({
  name: 'PageIndex',
  components: {
    QuasComponent
  }
});
</script>
